*{
    box-sizing: border-box;
    margin: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

.header{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    width: 100%;
    padding: 7.5px 30px;
    display: flex;
    align-items: center;
    background-color: lightgrey;
    box-shadow: #444 0 2px 15px;
    & .logo_navbar img{
        width: 50px;
        aspect-ratio: 1;
    }
    & .list_navbar{
        gap: 10px;
        font-size: 20px;
        flex-grow: 1;
        display: flex;
        list-style-type: none;
        padding: 0;
        & .item_list_navbar{
            height: min-content;
            border-radius: 8px;
            transition: 0.4s ease;
            padding: 5px;
            &:hover{
                background-color: whitesmoke;
            }
            & a{
                color: rgb(208, 45, 45);
            }
        }
        & .dropdown{
            position: relative;
            & .toogle_dropdown{
                cursor: pointer;
            }
            & .menu_dropdown{
                transform: translateY(-150px);
                box-shadow: #444 -4px 4px 8px;
                width: max-content;
                position: absolute;
                opacity: 0;
                overflow: hidden;
                transition:0.4s ease;
                list-style-type: none;
                padding: 0;
                background-color: white;
                border-radius: 5px;
                & .item_dropdown{
                    padding: 2px 5px;
                    &:hover{
                        background-color: rgb(219, 62, 62);
                        & > a{
                            color: white;
                            opacity: 0.8;
                        }
                    }
                }
            }
            &:hover{
                & > .menu_dropdown{   
                    opacity: 1;
                    transform: translateY(0);
                }
            }          
        }
    }
}

.img_background{
    text-align: center;
    overflow: hidden;
    height: 100vh;
    background-image: url("../assets/fullmetal.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 0.4s ease;
    & a{
        animation: begin 0.8s linear both;
        font-weight: bold;
        font-size: 35px;
        text-shadow: white 5px 5px 8px;
        color: rgb(208, 45, 45);
    }
}

.main_root{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.main{
    width: 90%;
    & p{
        margin: 1rem 0;
    }
}

.wiki{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & article{
        text-align: center;
    } 
    & > p, & > h2{
        animation: revealtxt linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
    }
}

.cards{
    width: 90%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    & .card{

        animation: reveal linear both;
        animation-timeline: view();
        animation-range: entry 25% cover 40%;

        flex-grow: 1;
        overflow: hidden;
        height: auto;
        border-radius: 5px;
        box-shadow: #444 5px 5px 20px;
        flex: 0 1 500px;
        & .img_card{
            & img{
                transition: 0.4s ease;
                aspect-ratio: 1;
                width: 100%;
                &:hover{
                    scale: 1.02;
                }
            }
        }
        & .content_card{
            padding: 10px;
        }
    }
}

.go_button{
    transition: 0.4s ease;
    background-color: rgb(208, 45, 45);
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    margin: 0 auto;
    color: white;
    &:hover{
        color: black;
        background-color: rgb(219, 62, 62);
    }
}

.footer{
    padding: 1rem 5rem;
    min-height: 50px;
    background-color: lightgray;
    width: 100%;
    color: rgb(208, 45, 45);
}


@keyframes reveal{
    from{
        scale: .7;
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        scale: 1;
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes revealtxt{
    from{
        opacity: 0;
        transform: translateY(100px);
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
        transform: translateX(0);
    }
}
@keyframes begin{
    from{
        opacity: 0;
        transform: translateY(-120px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
